services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx-local.conf:/etc/nginx/nginx.conf
      - ./backend/src/main/resources/uploads:/usr/share/nginx/html/uploads:ro
    depends_on:
      - backend
      - frontend
    networks:
      - app-network
    restart: unless-stopped

  backend:
    tty: true
    build:
      context: ./backend
      dockerfile: Dockerfile-prod
    depends_on:
      - bookamore-db
    expose:
      - "8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://bookamore-db:5432/bookamore-db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    volumes:
      - ./backend:/app
      - ~/.m2:/root/.m2
    networks:
      - app-network

  bookamore-db:
    image: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=bookamore-db
    networks:
      - app-network
    expose:
      - "5432"

  frontend:
    tty: true
    build:
      context: ./frontend
      dockerfile: Dockerfile-prod
    expose:
      - "3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: sh -c "npm install && npm run dev"
    volumes:
      - ./frontend:/usr/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
