services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - uploads:/usr/share/nginx/html/uploads:ro
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile-prod
    depends_on:
      - bookamore-db
    expose:
      - "8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://bookamore-db:5432/bookamore-db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      APP_UPLOAD_DIR: /app/uploads
    volumes:
      - uploads:/app/uploads
    networks:
      - app-network
    restart: unless-stopped

  bookamore-db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bookamore-db
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile-prod
    networks:
      - app-network
    restart: unless-stopped

volumes:
  uploads:
  pgdata:

networks:
  app-network:
    driver: bridge
